<div class="card book {{ 'book--full' if detail }}">
    <div class="book__cover">
        <img src="{{book.cover}}" alt="book cover" />
    </div>

    <div class="book__header">
        <p class="book__title">{{ book.title }}</p>
        <p class="book__author">por {{ book.authors | join(', ') }}</p>
    </div>
    <div class="book__body">
        <p class="book__synopsis">{{ book.synopsis }}</p>

        {% if detail %}
        <div class="book__extra-info">
            <div class="isbn">
                <p>ISBN: {{ book.isbn }}</p>
            </div>
            <p>
                Se publicó en el año
                <span class="highlight">{{ book.year }}</span> por la editorial
                <span class="highlight">{{ book.publisher }}</span>.
            </p>
            <h4>
                La primera edición se realizo en
                <span class="highlight">{{ book.country }}</span>.
            </h4>
            <p>
                Es un libro perteneciente a los géneros
                <span class="highlight  ">{{ book.genres }}</span>.
            </p>
        </div>
        {% endif %}
    </div>

    {% if detail %}
    <div class="book__actions">
        <button class="btn btn-danger" id="backHome">
            <a href="/" style="text-decoration: none; color:red"> Volver</a> 
        </button> {% if book.status == 'AVAILABLE' %}
        <button class="btn btn-primary" data-ref="addToList">
            Empezar a leer
        </button> {% endif %} {% if book.status == 'READING' %}
        <button class="btn btn-warning" data-ref="removeFromList">
            Dejar de leer
        </button>
        <button class="btn btn-success" data-ref="addToFinish">
            Lo termine!
        </button> {% endif %} {% if book.status == 'FINISHED' %}
        <button class="btn btn-danger" data-ref="removeFromFinish">
            Volver a leer
        </button>
        <div>
            <label> Valoracion del libro: </label>
            <select class="btn btn-primary" id="idValue">
                <option value="">Seleccione una valorizacion</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            <br>
            <h5>El valor del libro es: {{ book.value }}</h5>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>